{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block content %}
    <div style="background-color:darkgray;">
        <div style=" padding:10px; margin-right:100px;margin-left: 100px;text-align:center; font-size:30px;">
            <span style="font-size:60px; font-family: 'Akronim', cursive;">PITCHES</span>
        </div>
        <div class="panel" style=" border: 3px solid #f2f2f2; margin-top:10px; padding:20px; margin-left: 100px;margin-right: 100px;">
            <p style="font-family: 'Bellefair', serif; font-size:25px;">If you won't to add pitches,first sign up and then continue,please also feel free to comment</p>
            <div style="text-align:center; font-size: 25px;">
                    
                    <a href="auth/register">
                    
                    <br>
                    <span >Add a new Pitch</span>
                </a>
            </div>
        </div> 
        <br>
        <div class="panel" style=" border: 3px solid #f2f2f2; margin-top:10px; padding:20px; margin-left: 100px;margin-right: 100px; text-align:center;">
            {%for dodo in all_pitches%}
            <p>{{dodo.description}}</p>
            <a href="/comment/{{dodo.id}}" ><button>comment</button></a>
            {%endfor%}
        </div>
    </div>
            
           
            
    <div class="row">
            
      {{macro.displayPitchList(pitch_list)}}
    </div>  

    
{% endblock %}
