{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block content %}
    <div class="container" style="background-color:gainsboro; padding:20px; margin-top:0px; padding-top:40px; padding-bottom:400px;">
        <div class="row" style="text-align:center; font-size:30px;">
            <span style="font-size:40px; font-family: 'Akronim', cursive;">PITCHES</span>
            <p>Do you want to write a pitch. Sign up <a href="auth/register">here</a></p>

            <p>Already signed in? Write a pitch <a href="/new">here</a>.</p>
        </div>
    </div>
    
    <div class="row">
      {{macro.displayPitchList(pitches)}}
    </div>  
{% endblock %}
